.sketching{
    // background-color: #f8f8f8; 
    background-image: linear-gradient(#ffffff 1%, #f8f8f8 3%);
    flex-direction: column;
    display: flex;
    .sketching__header_nabor{
        padding-top: 55px;
        margin-left: 390px;
        display: flex;
        width: 180px;
        height: 30px;
        flex-shrink: 0;
    }
    .sketching__header{
        display: flex;
        .sketching__headertext{
            flex-direction: column;
            display: flex;
            .sketching__header_text2{
                margin-left: 384px;
                padding-top: 30px;
                display: flex;
                color: #000;
                font-size: 60px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 70px;
            }
            .sketching__header_text3{
                padding-top: 27px;
                margin-left: 390px;
                display: flex;
                color: #000;
                font-size: 16px;
                font-family: Tiro Devanagari Hindi;
                font-style: italic;
                font-weight: 400;
                line-height: 26px;
            }
            .sketching__header_text4{
                padding-top: 52px;
                margin-left: 389px;
                display: flex;
                color: #65646C;
                font-size: 16px;
                font-family: Tiro Devanagari Hindi;
                font-style: italic;
                font-weight: 400;
                line-height: 26px;
            }
            .sketching__header_text5{
                margin-left: 6px;
                display: flex;
                color: #000;
                font-size: 20px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .sketching__header_clock{
                padding-top: 11px;
                margin-left: 388px;
                display: flex;
                width: 283px;
                height: 26px;
                flex-shrink: 0;
            }
            .sketching__header_text6{
                padding-top: 45px;
                margin-left: 365px;
                display: flex;
                width: 360px;
                flex-shrink: 0;
            }
        }
    .sketching__header_text7{
        margin-left: 98px;
        padding-top: 18px;
        display: flex;
        width: 724px;
        height: 518px;
        flex-shrink: 0;
    }
    }
    .sketching__header2{
        padding-top: 60px;
        flex-direction: row;
        display: flex;
        .sketching__header2_text1{
            margin-right: 37px;
            margin-left: 390px;
            width: 191px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text1{
                display: flex;
                color: #65646C;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .sketching__header_line1{
            display: flex;
            width: 1px;
            height: 41px;
        }
        .sketching__header2_text2{
            margin-left: 43px;
            margin-right: 36px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text2{
                display: flex;
                color: #65646C;
                width: 169px;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .sketching__header_line2{
            display: flex;
            width: 1px;
            height: 41px;
        }
        .sketching__header2_text3{
            margin-left: 43px;
            margin-right: 38px;
            width: 149px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text3{
                display: flex;
                color: #65646C;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .sketching__header_line3{
            display: flex;
            width: 1px;
            height: 41px;
        }
        .sketching__header2_text4{
            margin-left: 43px;
            margin-right: 33px;
            width: 192px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text4{
                display: flex;
                color: #65646C;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .sketching__header_line4{
            display: flex;
            width: 1px;
            height: 41px;
        }
        .sketching__header2_text5{
            margin-left: 43px;
            width: 128px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text5{
                display: flex;
                color: #65646C;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
    .sketching_video{
        display: flex;
        padding-top: 153px;
        background-image: linear-gradient(#f8f8f8 10%, #ffffff 98%);
        .sketching_videotext{
            margin-left: 488px;
            padding-top: 59px;
            margin-right: 64px;
            display: flex;
            flex-direction: column;
            .sketching_videotext1{
                display: flex;
                color: #000;
                font-size: 22px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                flex-direction: column;
                .sketching_videotext2{
                    display: flex;
                    color: #65646C;
                    font-size: 16px;
                    font-family: Tiro Devanagari Hindi;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 24px;
                    padding-bottom: 78px;
                }
            }
            .sketching_videotext3{
                display: flex;
                color: #000;
                font-size: 22px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 94px;
                flex-direction: column;
                .sketching_videotext4{
                    display: flex;
                    color: #65646C;
                    font-size: 16px;
                    font-family: Tiro Devanagari Hindi;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 24px;
                    width: 210px;
                    padding-bottom: 78px;
                    
                }
            }
            .sketching_videotext5{
                display: flex;
                color: #000;
                font-size: 22px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 106px;
                flex-direction: column;
                .sketching_videotext6{
                    display: flex;
                    color: #65646C;
                    font-size: 16px;
                    font-family: Tiro Devanagari Hindi;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 24px;
                    width: 213px;
                }
            }
        }
        .sketching_videofoto{
            display: flex;
            flex-direction: column;    
            flex-shrink: 0;
            border-radius: 20px;  
            .sketching_videotext5{
                padding-top: 35px;
                margin-left: 98px;
                display: flex;
                flex-direction: column;    
                color: #000;
                font-size: 16px;
                font-family: Tiro Devanagari Hindi;
                font-style: italic;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }

        .sketching_avokad{
            display: flex;
            background-color: #ffffff;
            // background-image: linear-gradient(#f8f8f8 10%, #ffffff 98%, rgb(241, 241, 241));
            .sketching_avokadtext{
                display: flex;
                flex-direction: column; 
                padding-top: 63px;
                .sketching_avokadtext1{
                    margin-left: 388px;
                    display: flex;
                    flex-direction: column;
                    color: #000;
                    font-family: Abel;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 55px; /* 171.875% */
                    .sketching_avokadtext2{
                        padding-bottom: 10px;
                        margin-left: 2px;
                        width: 555px;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 16px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 26px; /* 162.5% */
                    }
                }
                .sketching_fotoadvokad{
                    display: flex;
                    .sketching_fotoadvokad1{
                        display: flex;
                        flex-direction: column;
                        .sketching_fotoadvokad11{
                            padding-top: 4px;
                            padding-bottom: 20px;
                            margin-left: 390px;
                            width: 53px;
                            height: 42px;
                            flex-shrink: 0;
                        }
                        .sketching_fotoadvokad22{
                            padding-bottom: 20px;
                            margin-left: 376px;
                            width: 53.24px;
                            height: 70.415px;
                            // transform: rotate(-156.048deg);
                            flex-shrink: 0;
                        }
                        .sketching_fotoadvokad33{
                            margin-left: 394px;
                            width: 44px;
                            height: 65px;
                            flex-shrink: 0;
                        }
                    }
                    .sketching_advokad1{
                        margin-left: 15px;
                        display: flex;
                        flex-direction: column;
                        .sketching_avokadtext3{
                            padding-bottom: 42px;
                            color: #65646C;
                            font-family: Tiro Devanagari Hindi;
                            font-size: 14px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: 21px; /* 150% */
                        }
                        .sketching_avokadtext4{
                            padding-bottom: 39px;
                            color: #65646C;
                            font-family: Tiro Devanagari Hindi;
                            font-size: 14px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: 21px; /* 150% */
                        }
                        .sketching_avokadtext5{
                            color: #65646C;
                            font-family: Tiro Devanagari Hindi;
                            font-size: 14px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: 21px; /* 150% */
                        }
                    }
                    .sketching_lineadvokad2{
                        margin-left: 2px;
                    }
                    .sketching_fotoadvokad2{
                        display: flex;
                        flex-direction: column;
                        .sketching_fotoadvokad44{
                            margin-left: 22px;
                            padding-bottom: 36px;
                            width: 39px;
                            height: 49px;
                            flex-shrink: 0;
                        }
                        .sketching_fotoadvokad55{
                            margin-left: 24px;
                            padding-bottom: 36px;
                            width: 36px;
                            height: 42px;
                            flex-shrink: 0;
                        }
                        .sketching_fotoadvokad66{
                            margin-left: 15px;
                            width: 47px;
                            height: 26px;
                            // transform: rotate(30deg);
                            flex-shrink: 0;
                        }
                    }
                    .sketching_advokad2{
                        display: flex;
                        flex-direction: column;
                        .sketching_avokadtext6{
                            margin-left: 16px;
                            color: #65646C;
                            font-family: Tiro Devanagari Hindi;
                            font-size: 14px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: 21px; /* 150% */
                        }
                        .sketching_avokadtext7{
                            margin-left: 17px;

                            padding-top: 42px;
                            color: #65646C;
                            font-family: Tiro Devanagari Hindi;
                            font-size: 14px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: 21px; /* 150% */
                        }
                        .sketching_avokadtext8{
                            margin-left: 18px;
                            padding-top: 39px;
                            color: #65646C;
                            font-family: Tiro Devanagari Hindi;
                            font-size: 14px;
                            font-style: italic;
                            font-weight: 400;
                            line-height: 21px; /* 150% */
                        }
                    }
                }
                .sketching_avokadfotoblock{
                    display: flex;
                    margin-left: 370px;


                }
            }
        }
        .sketching_avokadoall{
            display: flex;
            flex-direction: column; 
            padding-top: 43px;
            .sketching_avokadfoto{
                display: flex;
                width: 446px;
                height: 620px;
                flex-shrink: 0;
            }
            
        }
        .sketching_ground{
            background-image: linear-gradient(#ffffff , #f8f8f8 7%, rgb(241, 241, 241));
            .sketching_groundtext{
                display: flex;
                margin-top: 101px;
                margin-left: 387px;
                .sketching_groundtext1{
                    display: flex;
                    flex-direction: column;
                    color: #000;
                    font-family: Abel;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 55px; /* 171.875% */
                    .sketching_groundtext2{
                        margin-left: 2px;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 16px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 26px; /* 162.5% */
                    }
                }
            }
            .sketching_groundbox{
                padding-top: 30px;
                margin-left: 390px;
                .sketching_groundbox1{

                    .sketching_groundbox2{

                    }
                }
                .sketching_groundbox3{
                    
                    .sketching_groundbox4{

                    }
                }
                .sketching_groundbox5{
                    
                    .sketching_groundbox6{

                    }
                }
                .sketching_groundbox7{
                    
                    .sketching_groundbox8{

                    }
                }
            }
        }
    
}
@media (max-width: 992px) {
    .sketching{
    // background-color: #f8f8f8; 
    background-image: linear-gradient(#ffffff 0%, #f8f8f8 1%);
    flex-direction: column;
    display: flex;
    .sketching__header_nabor{
        padding-top: 55px;
        margin-left: 0px;
        margin-left: 31px;
        display: flex;
        width: 180px;
        height: 30px;
        flex-shrink: 0;
        
    }
    .sketching__header{
        display: flex;
        flex-direction: column;
        
        .sketching__headertext{
            flex-direction: column;
            display: flex;
            // margin-left: 31px;
            .sketching__header_text2{
                margin-left: 0px;
                margin-left: 31px;
                padding-top: 15px;
                display: flex;
                color: #000;
font-family: Abel;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 111.111% */
            }
            .sketching__header_text3{
                padding-top: 10px;
                margin-left: 0px;
                margin-left: 31px;
                display: flex;
                color: #000;
                font-size: 16px;
                font-family: Tiro Devanagari Hindi;
                font-style: italic;
                font-weight: 400;
                line-height: 26px;
            }
            .sketching__header_text4{
                padding-top: 20px;
                margin-left: 0px;
                margin-left: 31px;
                display: flex;
                color: #65646C;
                font-size: 16px;
                font-family: Tiro Devanagari Hindi;
                font-style: italic;
                font-weight: 400;
                line-height: 26px;
            }
            .sketching__header_text5{
                margin-left: 6px;
                
                display: flex;
                color: #000;
                font-size: 20px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .sketching__header_clock{
                padding-top: 11px;
                margin-left: 0px;
                margin-left: 31px;
                display: flex;
                width: 283px;
                height: 26px;
                flex-shrink: 0;
            }
            .sketching__header_text6{
                display: flex;
                justify-content: center;
                img{width: 350px;
                    height: 105px;}
                padding-top: 0px;
                margin-left: 0px;
                display: flex;
                width: 390px;
                flex-shrink: 0;
                
            }
        }
    .sketching__header_text7{
        img{width: 390px;
            height: 310px;}
        margin-left: 10px;
        padding-top: 0px;
        display: flex;
        width: 375px;
            height: 342px;
        flex-shrink: 0;
    }
    }
    .sketching__header2{
        padding-top: 16px;
        flex-direction: row;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 390px;
        .sketching__header2_text1{
            margin-right: 37px;
            margin-left: 0px;
            width: 390px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text1{
                display: flex;
                color: #65646C;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 390px;
                width: 390px;
                justify-content: center;
            }
        }
        .sketching__header_line1{
            display: flex;
            width: 0px;
            height: 0px;
        }
        .sketching__header2_text2{
            padding-top: 46px;
            margin-left: 0px;
            margin-right: 36px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text2{
                display: flex;
                color: #65646C;
                width: 169px;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 390px;
                justify-content: center;
            }
        }
        .sketching__header_line2{
            display: flex;
            width: 0px;
            height: 0px;
        }
        .sketching__header2_text3{
            padding-top: 46px;
            margin-left: 0px;
            margin-right: 0px;
            width: 390px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text3{
                display: flex;
                color: #65646C;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 390px;
                justify-content: center;
            }
        }
        .sketching__header_line3{
            display: flex;
            width: 0px;
            height: 0px;
        }
        .sketching__header2_text4{
            padding-top: 46px;
            margin-left: 0px;
            margin-right: 0px;
            width: 390px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text4{
                display: flex;
                color: #65646C;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 390px;
                justify-content: center;
            }
        }
        .sketching__header_line4{
            display: flex;
            width: 0px;
            height: 0px;
        }
        .sketching__header2_text5{
            padding-top: 46px;
            margin-left: 0px;
            width: 390px;
            flex-direction: column;
            display: flex;
            color: #000;
            font-size: 16px;
            font-family: Abel;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .sketching__header3_text5{
                display: flex;
                color: #65646C;
                font-size: 14px;
                font-family: Abel;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                width: 390px;
                justify-content: center;
            }
        }
    }
    .sketching_video{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 43px;
        background-image: linear-gradient(#f8f8f8 10%, #ffffff 98%);
        .sketching_videotext{
            margin-left: 0px;
            padding-top: 45px;
            margin-right: 64px;
            display: flex;
            flex-direction: column;
            .sketching_videotext1{
                display: flex;
                width: 85px;
                color: #000;
                font-family: Abel;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 94px;
                flex-direction: column;
                .sketching_videotext2{
                    display: flex;
                    color: #65646C;
                font-family: Tiro Devanagari Hindi;
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                line-height: 24px; /* 150% */
                padding-bottom: 0px;
                    width: 228px;
                }
            }
            .sketching_videotext3{
                display: flex;
                color: #000;
                padding-top: 56px;
                font-family: Abel;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 77px;
                flex-direction: column;
                margin-left: 94px;
                .sketching_videotext4{
                    display: flex;
                    color: #65646C;
                font-family: Tiro Devanagari Hindi;
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                line-height: 24px; /* 150% */
                    width: 210px;
                    padding-bottom: 0px;
                    
                }
            }
            .sketching_videotext5{
                display: flex;
                color: #000;
                padding-top: 56px;
                font-family: Abel;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 87px;
                margin-left: 94px;
                flex-direction: column;
                .sketching_videotext6{
                    display: flex;
                    color: #65646C;
                font-family: Tiro Devanagari Hindi;
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                line-height: 24px; /* 150% */
                    line-height: 24px;
                    width: 213px;
                    padding-bottom: 0px;
                }
            }
        }
        .sketching_videofoto{
            display: flex;
            flex-direction: column;    
            flex-shrink: 0;
            border-radius: 20px;  
            .sketching_videotext55{
                padding-top: 32px;
                margin-left: 98px;
                display: flex;
                flex-direction: column;    
                color: #000;
                font-size: 16px;
                font-family: Tiro Devanagari Hindi;
                font-style: italic;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }

    .sketching_avokad{
        display: flex;
        margin-left: 0px;
        flex-direction: column;
        // background-color: rgb(252, 251, 251);
        background-image: linear-gradient(#ffffff , rgb(252, 251, 251) 90%, #ffffff);
        .sketching_avokadtext{
            display: flex;
            flex-direction: column; 
            margin-left: 0px;
            padding-top: 63px;
            .sketching_avokadtext1{
                width: 179px;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                color: #000;
                font-family: Abel;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px; /* 142.857% */
                .sketching_avokadtext2{
                    padding-bottom: 0px;
                    margin-left: 2px;
                    width: 314px;
                    color: #65646C;
                    font-family: Tiro Devanagari Hindi;
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 21px; /* 150% */
                }
            }
            .sketching_fotoadvokad{
                display: flex;
                // flex-direction: column;
                margin-left: 15px;
                width: 390px;
                .sketching_fotoadvokad1{
                    display: flex;
                    flex-direction: column; 
                    margin-left: 15px;
                    
                    .sketching_fotoadvokad11{
                        padding-top: 15px;
                        margin-left: 0px;
                        width: 53px;
                        height: 42px;
                        flex-shrink: 0;
                    }
                    .sketching_fotoadvokad22{
                        padding-top: 78px;
                        padding-bottom: 0px;
                        margin-left: -10px;
                        width: 53.24px;
                        height: 70.415px;
                        // transform: rotate(-156.048deg);
                        flex-shrink: 0;
                    }
                    .sketching_fotoadvokad33{
                        padding-top: 65px;
                        margin-left: 7px;
                        width: 44px;
                        height: 65px;
                        flex-shrink: 0;
                    }
                }
                .sketching_advokad1{
                    margin-left: 0px;
                    display: flex;
                    flex-direction: column;
                    .sketching_avokadtext3{
                        width: 119px;
                        height: 77px;
                        padding-top: 19px;
                        padding-bottom: 0px;
                        margin-left: 0px;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                    }
                    .sketching_avokadtext4{
                        padding-top: 60px;
                        margin-left: 0px;
                        padding-bottom: 0px;
                        width: 109px;
                        height: 77px;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                    }
                    .sketching_avokadtext5{
                        padding-top: 54px;
                        padding-bottom: 0px;
                        margin-left: 0px;
                        width: 110px;
                        height: 35px;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                    }
                }
                .sketching_lineadvokad2{
                    margin-left: -3px;
                    img{
                        width: 1px;
                        height: 353px;
                    }
                }
                .sketching_fotoadvokad2{
                    display: flex;
                    margin-left: 0px;
                    flex-direction: column;
                    width: 56px;
                    .sketching_fotoadvokad44{
                        padding-top: 18px;
                        margin-left: 8px;
                        padding-bottom: 0px;
                        width: 39px;
                        height: 49px;
                        flex-shrink: 0;
                    }
                    .sketching_fotoadvokad55{
                        margin-left: 11px;
                        padding-top: 84px;
                        padding-bottom: 0px;
                        width: 36px;
                        height: 42px;
                        flex-shrink: 0;
                    }
                    .sketching_fotoadvokad66{
                        margin-left: 4px;
                        padding-top: 86px;
                        width: 47px;
                        height: 26px;
                        // transform: rotate(30deg);
                        flex-shrink: 0;
                    }
                }
                .sketching_advokad2{
                    margin-left: 0px;
                    display: flex;
                    flex-direction: column;
                    padding-top: 10px;
                    .sketching_avokadtext6{
                        padding-top: 9px;
                        margin-left: 0px;
                        width: 95px;
                        padding-bottom: 0px;
                        height: 77px;
                        flex-shrink: 0;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                    }
                    .sketching_avokadtext7{
                        margin-left: 0px;
                        padding-top: 60px;
                        padding-bottom: 0px;
                        width: 129px;
                        height: 77px;
                        flex-shrink: 0;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                    }
                    .sketching_avokadtext8{
                        margin-left: 0px;
                        padding-top: 53px;
                        padding-bottom: 0px;
                        width: 120px;
                        height: 79px;
                        flex-shrink: 0;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                    }
                }
            }
            .sketching_avokadfotoblock{
                display: flex;
                justify-content: center;
                margin-left: 0px;


            }
        }
    }
        .sketching_avokadoall{
            display: flex;
            flex-direction: column; 
            padding-top: 19px;
            
            .sketching_avokadfoto{
                img{width: 364px;
                    height: 506px;}
                display: flex;
                margin-left: 13px;
                width: 390px;
                height: 506px;
                flex-shrink: 0;
            }
            
        }
        .sketching_ground{
            background-image: linear-gradient(#ffffff , #f8f8f8 20%, rgb(241, 241, 241));
            .sketching_groundtext{
                display: flex;
                margin-top: 38px;
                margin-left: 30px;
                .sketching_groundtext1{
                    display: flex;
                    flex-direction: column;
                    color: #000;
                    font-family: Abel;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 40px; /* 142.857% */
                    width: 251px;
                    .sketching_groundtext2{
                        margin-left: 2px;
                        color: #65646C;
                        font-family: Tiro Devanagari Hindi;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 21px; /* 150% */
                        width: 314px;
                    }
                }
            }
            .sketching_groundbox{
                padding-top: 30px;
                margin-left: 0px;
                text-align: center;
                .sketching_groundbox1{
                    img{width: 315px;
                        height: 358px;}
                    .sketching_groundbox2{
                        img{width: 315px;
                            height: 358px;}
                    }
                }
                .sketching_groundbox3{
                    img{width: 315px;
                        height: 358px;}
                    .sketching_groundbox4{
                        img{width: 315px;
                            height: 358px;}
                    }
                }
                .sketching_groundbox5{
                    img{width: 315px;
                        height: 358px;}
                    .sketching_groundbox6{
                        img{width: 315px;
                            height: 358px;}
                    }
                }
                .sketching_groundbox7{
                    img{width: 315px;
                        height: 358px;}
                    .sketching_groundbox8{
                        img{width: 315px;
                            height: 358px;}
                    }
                }
            }
        }
    }
}

