.header {
background-color: rgb(255, 255, 255); 

display: flex;


&__logo{
    padding-top: 29px;
    margin-left: 390px;
    margin-right: -2px;
    // padding-bottom: 29px;
}

&__imageskills{
    padding-top: 40px;
}


&__logotext{
    text-align: left;
    padding-top: 28px;
    margin-left: 10px;
    color: #C4C4C4;
    display: flex;
    width: 140px;
    flex-direction: column;
    flex-shrink: 0;
}

&__menu{
    padding-top: 40px;
    margin-left: 44px;
    display: flex;
    >div:last-child{
        margin-left: 37px;
        margin-right: 267px;
    }
    >div{
        padding-right: 0px;
        a {
            color: #8A8A8A;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            transition: 0.5s;
            opacity: 0.8;
            ;
        }
        a:hover{
            color: #000000;

            opacity: 1;

        }
    }
}

&__number{
    padding-top: 40px;


}


&__linelogin{
    display: flex;
    width: 1px;
height: 40px;
    padding-left: 20px;
    padding-top: 31px;
}

&__imglogin{
    display: flex;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 0px;
    width: 160px;
flex-shrink: 0;
}



}
